@model Tutorial.MyClasses.Vehicle

@{
    ViewBag.Title = "ValueRecalculation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ValueRecalculation</h2>
<div>Your new value is: @Model.value</div>
<br><br><br>
<p>
    @Html.ActionLink("Back to List", "Valuation")
</p>
